<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<title>TaskManager</title>
	<link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
	
</head>
<body>
	<h1 style="color:Green">Add comment at task</h1>
	<form th:action="@{|/projects/${projectId}/tasks/${taskId}/comment/add|}" th:object="${commentForm}" method="post">
		<table>
			<tr>
				<td><label for="commentInput">Name</label></td>
				<td><input id=commentInput type="text" placeholder="INSERT COMMENT" required
						   th:field="*{comment}" /></td>
				<td th:if="${#fields.hasErrors('comment')}"
					th:errors="${commentForm.comment}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>
					<button type="submit"class="btn btn-success btn-sm">Add comment</button>
				</td>
			</tr>	
		</table>
		</form>
		<br>
</body>
<footer>
	Back to <a th:href="|/projects/${projectId}/tasks/${taskId}|">Task</a>
</footer>
</html>